<h1 style="text-align: center;"><a href='/categories/<%= @brand.category_id %>'><%= @brand.category %></a> :: <%= @brand.name.upcase %></h1>

<table style="margin: auto;">
	<tr>
		<td>Average score: <%= @brand.avg_rating.round(2) %></td>
		<td>Average rank: <%= @brand.avg_ranking.round(2) %> of <%= @category %></td>
	</tr>
</table>

<table style="margin: 10px auto;">
	<tr>
		<td>Human</td><td>Rating</td><td>Rank</td>
	</tr>
<% @rankings.each do |r| %>
	<tr>
		<td><a href='/humans/<%= r.human_id %>'><%= r.first_name %></a></td>
		<td><%= r.rating %></td>
		<td><%= r.ranking %></td>
	</tr>
<% end %>
</table>

<h3>Rating visualizations</h3>
<div style="width: 100%; margin: auto;">
	<div style="width: 48%; margin: auto; display: inline-block;">
	<%= bar_chart @ratings %>
	</div>
	<div style="width: 48%; margin: auto; display: inline-block;">
	<%= pie_chart @ratings %>
	</div>
</div>
